<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oeong.dao.DormDao">
    <select id="findByDormNum" resultType="Dorm">
        select * from cq_dorm where dorm_num=#{dormNum} and dorm_grade=#{dormGrade} and dorm_dep=#{dormDep};
    </select>

    <!-- 一个宿舍，多个学生 -->
    <resultMap id="DormAndStudentsResultMap" type="Dorm">
        <!-- 配置 Dorm 的属性 -->
        <id property="id" column="did"/>
        <result property="dorm_num" column="dorm_num"/>
        <result property="dorm_grade" column="dorm_grade"/>
        <result property="dorm_dep" column="dorm_dep"/>

        <collection property="studentList" ofType="Student">
            <id property="id" column="sid"/>
            <result property="dorm" column="dorm"/>
            <result property="sex" column="sex"/>
        </collection>
    </resultMap>
    <select id="count" resultMap="DormAndStudentsResultMap">
        select count(*) from cq_dorm d join cq_student s on s.dorm = d.dorm_num
        where s.sex=#{sex} and d.dorm_grade=#{dormGrade} and d.dorm_dep=#{dormDep};
    </select>

    <select id="findAll" resultMap="DormAndStudentsResultMap">
        select * from cq_dorm d, cq_student s
        where s.sex=#{sex} and d.dorm_grade=#{dormGrade} and d.dorm_dep=#{dormDep};
    </select>
</mapper>