<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oeong.dao.ResultDao">
    <insert id="insertResult">
        insert into cq_result(student_id, record_id) values (#{studentId}, #{recordId});
    </insert>
</mapper>