<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/cqcq/back_end/public/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/cqcq/back_end/public/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <meta charset="UTF-8">
    <form class="layui-form layuimini-form" action="index.php?s=index/table/edit_user" method="post"
        enctype="multipart/form-data">
        <div class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">学号</label>
                <div class="layui-input-block">
                    <input type="number" name="id" lay-verify="required" lay-reqtext="学号不能为空"  value=""
                        class="layui-input" maxlength="9" readonly="readonly" style="width: 65%; border: none;" >
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" lay-verify="required" lay-reqtext="用户名不能为空" 
                        value="" class="layui-input" style="width: 65%;">
                    <tip>填写自己管理账号的名称。</tip>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="男" title="男" id="male" checked="">
                    <input type="radio" name="sex" value="女" title="女" id="female" checked="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-block">
                    <input type="number" name="phone" lay-reqtext="手机不能为空" value="" 
                    class="layui-input" style="width: 65%;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="email" name="email" value="" class="layui-input" style="width: 65%;">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">年级</label>
                <div class="layui-input-block">
                    <input type="text" name="grade" lay-verify="required" lay-reqtext="年级不能为空"  value=""
                        class="layui-input" style="width: 65%;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">系别</label>
                <div class="layui-input-block">
                    <input type="text" name="department" lay-verify="required" lay-reqtext="系别不能为空" 
                        value="" class="layui-input" style="width: 65%;">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">宿舍号</label>
                <div class="layui-input-block">
                    <input type="text" name="dorm" lay-verify="required" lay-reqtext="宿舍号不能为空" value=""
                        class="layui-input" style="width: 65%;">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn" style="margin-left: 25%;">
                        确认保存
                    </button>
                </div>
            </div>
        </div>
    </form>

    </div>
    <script src="/cqcq/back_end/public/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$;

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                var index = layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                }, function () {

                    // 关闭弹出层
                    layer.close(index);
                    var iframeIndex = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(iframeIndex);

                });

                // return false;  //不注释无法提交
            });

        });

        //接收table.html的编辑按钮传递的参数
        function getQueryString(name) { 
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i'); 
            var r = window.location.search.substr(1).match(reg); 
            if (r != null) { 
                return unescape(r[2]); 
            } 
            return null; 
        }
        
        var phone = getQueryString("st_phone");
        var id = getQueryString("st_id");
        var username = unescape(getQueryString("st_username"));
        var dorm = unescape(getQueryString("st_dorm"));
        var grade = getQueryString("st_grade");
        var email = getQueryString("st_email");
        var department = unescape(getQueryString("st_department"));
        var sex = unescape(getQueryString("st_sex"));
    
        //将参数赋值给input输入框
        document.getElementsByName("phone")[0].value = phone;
        document.getElementsByName("id")[0].value = id;
        document.getElementsByName("username")[0].value = username;
        document.getElementsByName("dorm")[0].value = dorm;
        document.getElementsByName("email")[0].value = email;
        document.getElementsByName("department")[0].value = department;
        document.getElementsByName("grade")[0].value = grade;

        //使弹窗打开可根据传入性别选中对应选项
        if(sex=='男'){
            document.getElementById("male").checked=true;
            document.getElementById("female").checked=false;
        }else{
            document.getElementById("male").checked=false;
            document.getElementById("female").checked=true;
        }
    </script>
</body>

</html>