<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/cqcq/public/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/cqcq/public/static/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }

        .layuimini-form > .layui-form-item > .layui-form-label {
            width: 200px !important;
        }

        .layui-input, .layui-textarea {
            width: 70%;
        }

        .layui-btn {
            margin-left: 80px;
        }

        .layui-form-label {
            width: 200px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form action="" method="post" lay-filter="example" class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label">查寝时间</label>
                <div class="layui-input-block">
                    <input type="text" name="token" value="每周日到周五 21:40-22:20" class="layui-input" readonly="readonly"
                           style="border: none; display: inline;">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">男生宿舍</label>
                    <div class="layui-input-inline">
                        <input type="number" name="pswd" value="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 80px">女生宿舍</label>
                    <div class="layui-input-inline">
                        <input type="number" name="pmodel" value="" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">是否启动</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="close" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="setting">确认保存
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
<script src="/cqcq/public/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
        });

        // 表单初始赋值
        form.val('example', {
            "close": false //开关状态
        })
    });
</script>
</body>
</html>