<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<title>CQCQ后台管理系统</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/cqcq/back_end/public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/cqcq/back_end/public/lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/cqcq/back_end/public/lib/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/cqcq/back_end/public/css/util.css">
	<link rel="stylesheet" type="text/css" href="/cqcq/back_end/public/css/main.css">
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('/cqcq/back_end/public/images/b2.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" action="index.php?s=index/login/valid" name="loginForm"
					method="post" enctype="multipart/form-data">
					<span class="login100-form-title p-b-49">后台管理系统</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate="请输入账号">
						<span class="label-input100">账号</span>
						<input class="input100" type="text" id="user" name="uaccount" placeholder="请输入账号"
							autocomplete="off">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="请输入密码">
						<span class="label-input100">密码</span>
						<input class="input100" type="password" id='password' name="password" placeholder="请输入密码">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<div class="text-right p-t-8 p-b-31">
						<!-- <a href="javascript:">忘记密码？</a> -->
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="check_login()">登 录</button>
						</div>
					</div>

					<!-- <div class="txt1 text-center p-t-54 p-b-20">
						<span>第三方登录</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-175">
						<a href="javascript:" class="txt2">立即注册</a>
					</div> -->
				</form>
			</div>
		</div>
	</div>
	<script language="javascript">
		function check_login() {
			var user = document.getElementById("user");      //获取账户信息
			var password = document.getElementById("password");  //获取密码信息

			var username = user.value;
			window.localStorage.name = username;
		}
	</script>

	<script src="/cqcq/back_end/public/js/jquery-3.2.1.min.js"></script>
	<script src="/cqcq/back_end/public/js/main.js"></script>
</body>

</html>