<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/cqcq/public/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/cqcq/public/static/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }

        .layuimini-form > .layui-form-item > .layui-form-label {
            width: 200px !important;
        }

        .layui-input, .layui-textarea {
            width: 50%;
        }

        .layui-btn {
            margin-left: 80px;
        }
        .layui-input, .layui-textarea {}
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form action="index.php?s=index/setting/faceEdit" method="post" class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">API Key</label>
                <div class="layui-input-block">
                    <input type="text" name="key" value="{$values['key']}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">Secret Key</label>
                <div class="layui-input-block">
                    <input type="text" name="secret" value="{$values['secret']}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">TOKEN</label>
                <div class="layui-input-block">
                    <input type="text" name="token" value="{$values['token']}" class="layui-input" readonly="readonly"
                           style="border: none; display: inline;">
                </div>
                <label class="layui-form-label">更新时间</label>
                <div class="layui-input-block">
                    <input type="text" name=""  value="{$update_time}" class="layui-input" readonly="readonly"
                           style="width: 15%; border: none; display: inline;">
                    <label style="color: darkgray">每个月需要更新一次Token</label>
                </div>

            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn layui-btn-warm">
                        <a href="/cqcq/public/index.php/api/face/generateToken" style="color: white;">
                            更新Token</a></button>
                    <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="setting" style="margin-left: 50px;">确认保存
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/cqcq/public/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
</body>
</html>