<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/cqcq/public/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/cqcq/public/static/css/public.css" media="all">
    <style>
        .layui-form-item .layui-input-company {
            width: auto;
            padding-right: 10px;
            line-height: 38px;
        }

        .layuimini-form > .layui-form-item > .layui-form-label {
            width: 200px !important;
        }

        .layui-input, .layui-textarea {
            width: 50%;
        }

        .layui-btn {
            margin-left: 80px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form action="mailEdit" method="post" class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label required">发信地址</label>
                <div class="layui-input-block">
                    <input type="text" name="key" value="{$values['key']}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">SMTP密码</label>
                <div class="layui-input-block">
                    <input type="text" name="secret" value="{$values['secret']}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn layui-btn-normal" lay-submit lay-filter="setting">确认保存
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/cqcq/public/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
</body>
</html>